{% extends "base.html" %}

{% block content %}
    <h1>Create Strategy</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% if form.name.errors %}
                <ul>
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.asset_class.label }}<br>
            {{ form.asset_class() }}<br>
            {% if form.asset_class.errors %}
                <ul>
                {% for error in form.asset_class.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.high_frequency.label }}<br>
            {{ form.high_frequency() }}<br>
            {% if form.high_frequency.errors %}
                <ul>
                {% for error in form.high_frequency.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
{% endblock %}